apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
    component: datastore
spec:
  clusterIP: None
  ports:
  - port: 6379
    targetPort: redis
    protocol: TCP
    name: redis
  selector:
    app: redis
